@model IEnumerable<HungManhProject.Models.Product>

@{
    ViewBag.Title = "SLIPPER - Online Sneaker Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="main-body">
    <div class="container section-title-container" style="margin-top:25px">
        <h2 class="section-title section-title-center">
            <b></b>
            <span class="section-title-main" style="font-size: 24px; font-family:Roboto; color:#555; font-weight:bold">DÉP</span>
            <b></b>
        </h2>
    </div>
    <main class="mainContent-theme ">
        <div id="collection" class="collection-page">
            <div class="main-content ">
                <div class="container-fluid">
                    <span class="section-title-main" style="font-size: 12px; font-family:Roboto; color:#555; font-weight:normal">Sort: @Html.ActionLink("Price", "Slipper", new { sortOrder = ViewBag.PriceSortParm })</span>
                    <div class="row">
                        <div id="collection-body" class="wrap-collection-body clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row filter-here">
                                    @foreach (var item in Model)
                                    {
                                        <!-- Product  -->
                                        <div class="col-md-4 col-sm-6 col-xs-6 pro-loop col-4">
                                            <div class="product-block product-resize " style="margin: 7px;">
                                                <div class="product-img ">
                                                    <a href="@Url.Action("productDetail", "products", new { id = item.product_id, slug = item.title.utf8Convert() })" title="@item.title" class="image-resize ratiobox">
                                                        <picture>
                                                            <source media="(max-width: 480px)"
                                                                    data-srcset="@item.img"
                                                                    srcset="@item.img" />
                                                            <source media="(min-width: 481px) and (max-width: 767px)"
                                                                    data-srcset="@item.img"
                                                                    srcset="@item.img" />
                                                            <source media="(min-width: 768px)"
                                                                    data-srcset="@item.img"
                                                                    srcset="@item.img" />
                                                            <img class="lazyload img-loop" data-sizes="auto"
                                                                 data-src="@item.img"
                                                                 data-lowsrc="@item.img"
                                                                 src="@item.img"
                                                                 alt=" @item.title " />
                                                        </picture>
                                                        <picture>
                                                            <source media="(max-width: 480px)"
                                                                    data-srcset="@item.img_loop"
                                                                    srcset="@item.img_loop">
                                                            <source media="(min-width: 481px) and (max-width: 767px)"
                                                                    data-srcset="@item.img_loop"
                                                                    srcset="@item.img_loop">
                                                            <source media="(min-width: 768px)"
                                                                    data-srcset="@item.img_loop"
                                                                    srcset="@item.img_loop">
                                                            <img class="img-loop img-hover lazyload"
                                                                 data-src="@item.img_loop"
                                                                 src="@item.img_loop"
                                                                 alt=" @item.title " />
                                                        </picture>
                                                    </a>
                                                    <div class="button-add hidden">
                                                        <button type="submit" title="Buy now" class="action" onclick="buy_now('1087585443')">Mua ngay<i class="fa fa-long-arrow-right"></i></button>
                                                    </div>
                                                    <div class="pro-price-mb">
                                                        <span class="pro-price">@string.Format(format, "{0:c0}", item.unit_price)</span>

                                                    </div>
                                                </div>
                                                <div class="product-detail clearfix">
                                                    <div class="box-pro-detail">
                                                        <h3 class="pro-name">
                                                            <a href="/products/than-chet-part-time" title="@item.title">
                                                                @item.title
                                                            </a>
                                                        </h3>

                                                        <div class="box-pro-prices">
                                                            <p class="pro-price ">
                                                                <span>@string.Format(format, "{0:c0}", item.unit_price)</span>

                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                        <!-- ./Product -->
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
