@model HungManhProject.Models.Product
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<main class="mainContent-theme ">
    <div id="product" class="productDetail-page">
        <div class="breadcrumb-shop">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd5  ">
                        <ol class="breadcrumb breadcrumb-arrows" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="/" target="_self" itemprop="item"><span itemprop="name">Trang chủ</span></a>
                                <meta itemprop="position" content="1" />
                            </li>



                            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <a href="/collections/shop" target="_self" itemprop="item">
                                    <span itemprop="name">ALL SHOP</span>
                                </a>
                                <meta itemprop="position" content="2" />
                            </li>

                            <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span itemprop="item" content="">
                                    <span itemprop="name">@Html.DisplayFor(model => model.title)</span>
                                </span>
                                <meta itemprop="position" content="3" />
                            </li>

                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-detail-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row product-detail-main pr_style_02">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="product-gallery">
                                    <div class="product-image-detail box__product-gallery scroll">
                                        <ul id="sliderproduct" class="site-box-content slide_product clearfix">

                                            <li class="product-gallery-item gallery-item">
                                                <img class="product-image-feature" src="@Html.DisplayFor(model => model.img)" alt=" @Html.DisplayFor(model => model.title) ">
                                            </li>

                                            <li class="product-gallery-item gallery-item">
                                                <img class="product-image-feature" src="@Html.DisplayFor(model => model.img_loop)" alt=" @Html.DisplayFor(model => model.title) ">
                                            </li>

                                            <li class="product-gallery-item gallery-item">
                                                <img class="product-image-feature" src="@Html.DisplayFor(model => model.img2)" alt=" @Html.DisplayFor(model => model.title) ">
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 product-content-desc" style="position:sticky" id="detail-product">
                                <div class="product-title">
                                    <h1>@Html.DisplayFor(model => model.title)</h1>
                                </div>
                                <div class="product-price" id="price-preview">

                                    <span class="pro-price">@string.Format(format, "{0:c0}", Model.unit_price)</span>

                                </div>

                                <div class="swatch clearfix">
                                    <button type="button" id="add-to-cart" class=" add-to-cartProduct button dark btn-addtocart addtocart-modal " onclick="location.href='@Url.Action("ThemCart", "Cart", new { @id = Model.product_id, @strURL =
                                                Request.Url.ToString() })'" name="add">
                                        Thêm vào giỏ
                                    </button>
                                </div>
                                @*<form id="add-item-form" action="/cart" method="post" class="variants clearfix">

                                        <div class="clearfix">

                                            @Html.DropDownList("variantList", ViewBag.variantList as IEnumerable<SelectListItem>)

                                        </div>

                                        <div class="selector-actions">

                                            <div class="quantity-area clearfix">
                                                <input type="button" value="-" onclick="minusQuantity()" class="qty-btn">
                                                <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
                                                <input type="button" value="+" onclick="plusQuantity()" class="qty-btn">
                                            </div>

                                            <div class="wrap-addcart clearfix">
                                                <button type="button" id="add-to-cart" class=" add-to-cartProduct button dark btn-addtocart addtocart-modal " onclick="location.href='@Url.Action("ThemCart", "Cart", new { @id = Model.product_id, @strURL =
                                                    Request.Url.ToString() })'" name="add">
                                                    Thêm vào giỏ
                                                </button>
                                            </div>
                                        </div>


                                    </form>*@
                                <div class="product-description">
                                    <div class="title-bl" style="padding-top: 45px !important;">
                                        <h2>Mô tả</h2>
                                    </div>
                                    <div class="description-content">
                                        <div class="description-productdetail">
                                            <p>@Html.DisplayFor(model => model.description)</p>
                                            <p><strong>Chi tiết sản phẩm:</strong></p>
                                            <p>• Chất liệu: @Html.DisplayFor(model => model.chatlieu)</p>
                                            <p>• Kỹ thuật: @Html.DisplayFor(model => model.kithuat)</p>
                                            <p>• Size: @Html.DisplayFor(model => model.size)</p>
                                            <p><strong>Size và cách đo áo:</strong></p>
                                            <p style="text-align: center"><img src="//file.hstatic.net/200000104195/file/untitled-1_b5dedb1a86a74dc2916bbd201b1db2a5.jpg"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

